<div class="viewcat" style="margin:30px 60px 30px 60px; background-color: cornsilk;; max-height: 300vh;">
  <div class="container">
    <h2>View Messages</h2>            
    <table class="table table-hover">
  
        <tr>
          <th>Sl No.</th>
          <th>Sender</th>
          <th>Message</th>
        </tr>
      
        <tr *ngFor="let msg of msgs;let i = index">
          <td>{{i+1}}</td>
          <td>{{msg.receiver}}</td>
          <td>{{msg.message}}</td>
        </tr>
        
    </table>
  </div>
  </div> 
